.sky{
	--alpha:   #35a9e0;
	--beta:    #0e5a9b;
	--gamma:   #002646;
	--delta:   #ceefff;
}

.rail{
	--alpha:   #8bc53f;
	--beta:    #247e2b;
	--gamma:   #124a1b;
	--delta:   #cde98f;
}

.geo{
	--alpha:   #ca5e2b;
	--beta:    #a25e3f;
	--gamma:   #99390e;
	--delta:   #fed8ba;
}

.haul{
	--alpha:   #a59894;
	--beta:    #74625f;
	--gamma:   #5b514d;
	--delta:   #e8dfcf;
}
